.bgContainer{
    height: 100vh;
    width: 100vw;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.formContainer{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 30vw;
    display: flex;
    flex-direction: column;
}

.formContainer h1{
    margin-bottom: 25px;
}

.labelAnimationContainer{
    position: relative;
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
}

.labelAnimationContainer input{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border: 1px solid rgb(187, 179, 179);
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    padding-left: 10px;
}

.labelAnimationContainer label{
    position: absolute;
    left: 7.5px;
    top:15px;
    z-index: 10;
    font-size: 20px;
    pointer-events: none;  
    background-color: white; 
    padding: 0 10px;
    transition: all 0.35s;
}

.inputAnimation:focus{
    border: 2px solid black;
}

.inputAnimation:focus ~ .labelAnimation, .inputAnimation:not(:placeholder-shown) ~ .labelAnimation{
    transform: scale(0.7)  translateY(-125%);
    transform-origin: top left;
    transition: all 0.35s;
}

.buttonsContainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    gap: 15px;
}

.buttonsContainer button{
    background-color: var(--primary-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
    border: none;
    padding: 10px 0px;
    cursor:pointer;
    flex-grow: 1;
}

.formContainer a, .formContainer p{
    color: black;
    align-self: flex-end;
}