.journalContainer{
    display: flex;
    position: relative;
}

.notesContainer{
    display: flex;
    width:calc(100vw - var(--ancho-caja));
    flex-direction: column;
}

.addNoteButton{
    background-color: red;
    color: white;
    border-radius: 100%;
    position: absolute;
    bottom: 10vh;
    right: 5vw;
    height: 50px;
    width: 50px;
    cursor: pointer;
    border: none;
    place-items: center;
}